.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  width: 300px;
  height: 60px;
  border-radius: 100px;
  border: none;
  background-color: #6e9ef8;
  font-size: 24px;
  cursor: pointer;
}

.chat {
  height: 70vh;
  position: relative;
  background-color: #364664;
  color: white;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 48px;
  padding: 1em;
}

.chat-view {
  height: 100%;
}

.chat-form {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; 
}

.chat-input {
  width: 70%;
  border: none;
  padding: 4px 8px;
  box-sizing: border-box;
}

.chat-input:focus {
  outline: none;
  border: 1px solid #4181f7;
}

.chat-send {
  width: 30%;
  height: 40px;
  background-color: #6e9ef8;
  border: none;
  margin: 0;
  cursor: pointer;
  font-size: 24px;
}

.chat-send:hover {
  background-color: #4181f7;
  transition: background-color .3s ease;
}

.message {
  display: flex;
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
}

.sentMsg {
  flex-direction: row-reverse;
}

.message img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 100px;
}

.message p {
  line-height: 1em;
  font-size: 1em;
  margin: auto 1em;
  padding: 1em;
  height: 100%;
  width: auto;
  display: flex;
  background-color: #b4ceff;
  border-radius: 50px;
}