.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  width: 350px;
  height: 80px;
  border-radius: 100px;
  border: none;
  background-color: #6e9ef8;
  font-size: 24px;
}

.chat {
  height: 70vh;
  background-color: #364664;
  color: white;
  max-width: 400px;
  margin: 0 auto 32px;
}